aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
discord-protos==0.0.2
discord-webhook==1.1.0
discord.py-self==2.0.0
discord.py-self-embed==1.0.7
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
protobuf==4.22.4
pyfiglet==0.8.post1
python-dotenv==1.0.0
requests==2.30.0
soupsieve==2.4.1
urllib3==2.0.2
uwuify==1.2.1
yarl==1.9.2
